@nilmod {
	/* There is no id field. The filename defines the id of the mod. */
	name: "Antisplash";
	description: "A mod to prevent mods from adding custom splashes themselves.";
	authors: "hibi";
	version: "${version}";
}

entrypoints {
	/* premain is the only entrypoint defined by NilLoader itself. */
	premain: "hibi.antisplash.Antisplash";
}
